<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lxit.crm.dao.HomeDao">
	<resultMap type="power" id="powerMap">
		<id column="id" property="id" />
		<result column="text" property="text" />
		<result column="state" property="state" />
		<result column="url" property="url" />
		<result column="iconCls" property="iconCls" />
		<result column="nid" property="nid" />
	</resultMap>
	<select id="selectAllPower" resultMap="powerMap" parameterType="Integer">
		<!-- select * from power where nid = #{0} -->
		<!-- select DISTINCT p.id,p.text,p.state,p.url,p.iconCls,p.nid from staff 
			s,role r,power p,role_power rap where s.rid=r.rid and p.id=rap.pid and r.rid=rap.rid 
			and s.sid=#{0} -->
		select DISTINCT p.id,p.text,p.state,p.url,p.iconCls,p.nid
		from staff s,role r,power p,role_power rap
		where s.rid=r.rid and p.id=rap.pid and r.rid=rap.rid and s.sid=#{1} and
		p.nid=#{0}
	</select>
</mapper>